{{ if not (eq .Params.showMeta false) }}
  <div class="postShorten-meta post-meta">
    {{ if not (eq .Params.showDate false)  }}
      <time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
        {{ partial "internal/date.html" . }}
      </time>
    {{ end }}
    {{ partial "post/category.html" . }}
    {{ if (isset .Params "authors") }}
      </br>
      <div class="authors">
      {{- range .Params.authors }}
        {{- with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}
          <figure> 
            <img class="author-img" src="{{ .Params.photo | absURL }}" alt=""/>
            <figcaption>
              <a href="{{ .Permalink }}">{{ .Params.name }}</a>
            </figcaption>
          </figure> 
        {{ end }}
      {{ end }}
      </div>
    {{ end }}
  </div>
{{ end }}
